{% extends "application1/base.html" %}

{% block body_block %}
<div class="container">
    <div class="jumborton">
        <form action="{% url 'application1:user_login' %}" method="POST">
            {% csrf_token %}
            <label for="username">Username</label>
            <input type="text" name="username" placeholder="enter username here">
<p></p>
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="enter Password">

            <input type="submit" value="Login">
        </form>
    </div>
</div>

{% endblock %}